allure-generator/src/main/resources/xsd/allure_report-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:allure.qameta.io">

    <xsd:complexType name="TestCaseInfo"/>
    <xsd:complexType name="Time"/>
    <xsd:complexType name="GroupTime"/>
    <xsd:complexType name="Status"/>
    <xsd:complexType name="SeverityLevel"/>
    <xsd:complexType name="Failure"/>
    <xsd:complexType name="Statistic"/>
</xsd:schema>
