allure-plugin-api/src/main/resources/xsd/allure_report-api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:ns="urn:entity.allure.qameta.io"
            targetNamespace="urn:entity.allure.qameta.io"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="1.0">

    <xsd:annotation>
        <xsd:appinfo>
            <jaxb:globalBindings>
                <xjc:serializable uid="1"/>
            </jaxb:globalBindings>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="testCaseInfo" type="ns:TestCaseInfo"/>
    <xsd:complexType name="TestCaseInfo">
        <xsd:all>
            <xsd:element name="uid" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="time" type="ns:Time"/>
            <xsd:element name="status" type="ns:Status"/>
            <xsd:element name="flaky" type="xsd:boolean"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="testCase" type="ns:TestCase"/>
    <xsd:complexType name="TestCase">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descriptionHtml" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parametersNames">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="parameterName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="links" type="ns:Links" minOccurs="0"/>
            <xsd:element name="results">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="ns:TestCaseInfo" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="testCaseResult" type="ns:TestCaseResult"/>
    <xsd:complexType name="TestCaseResult">
        <xsd:complexContent>
            <xsd:extension base="ns:ExtraElements">
                <xsd:sequence>
                    <xsd:element name="uid" type="xsd:string"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="fullName" type="xsd:string"/>

                    <xsd:element name="testCaseId" type="xsd:string"/>
                    <xsd:element name="time" type="ns:Time"/>
                    <xsd:element name="status" type="ns:Status"/>
                    <xsd:element name="statusDetails" type="ns:StatusDetails" minOccurs="0"/>

                    <xsd:element name="description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="descriptionHtml" type="xsd:string" minOccurs="0"/>

                    <xsd:element name="beforeStages" type="ns:BeforeStagesResults" minOccurs="0"/>
                    <xsd:element name="testStage" type="ns:StageResult" minOccurs="0"/>
                    <xsd:element name="afterStages" type="ns:AfterStagesResults" minOccurs="0"/>

                    <xsd:element name="labels" type="ns:Labels" minOccurs="0"/>
                    <xsd:element name="parameters" type="ns:Parameters" minOccurs="0"/>
                    <xsd:element name="links" type="ns:Links" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="stageResult" type="ns:StageResult"/>
    <xsd:complexType name="StageResult">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="time" type="ns:Time"/>
            <xsd:element name="status" type="ns:Status"/>
            <xsd:element name="statusDetails" type="ns:StatusDetails" minOccurs="0"/>
            <xsd:element name="steps" type="ns:Steps" minOccurs="0"/>
            <xsd:element name="attachments" type="ns:Attachments" minOccurs="0"/>
            <xsd:element name="parameters" type="ns:Parameters" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="testGroup" type="ns:TestGroup"/>
    <xsd:complexType name="TestGroup">
        <xsd:all>
            <xsd:element name="uid" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descriptionHtml" type="xsd:string" minOccurs="0"/>
            <xsd:element name="links" type="ns:Links" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="testRunInfo" type="ns:TestRunInfo"/>
    <xsd:complexType name="TestRunInfo">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="start" type="xsd:long"/>
            <xsd:element name="stop" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="executorInfo" type="ns:ExecutorInfo"/>
    <xsd:complexType name="ExecutorInfo">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
            <xsd:element name="buildName" type="xsd:string"/>
            <xsd:element name="buildUrl" type="xsd:string"/>
            <xsd:element name="reportUrl" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="testRun" type="ns:TestRun"/>
    <xsd:complexType name="TestRun">
        <xsd:complexContent>
            <xsd:extension base="ns:ExtraElements">
                <xsd:sequence>
                    <xsd:element name="uid" type="xsd:string"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="time" type="ns:Time"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="link" type="ns:Link"/>
    <xsd:complexType name="Link">
        <xsd:all>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="time" type="ns:Time"/>
    <xsd:complexType name="Time">
        <xsd:sequence>
            <xsd:element name="start" type="xsd:long" nillable="true"/>
            <xsd:element name="stop" type="xsd:long" nillable="true"/>
            <xsd:element name="duration" type="xsd:long" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GroupTime">
        <xsd:complexContent>
            <xsd:extension base="ns:Time">
                <xsd:sequence>
                    <xsd:element name="maxDuration" type="xsd:long" nillable="true"/>
                    <xsd:element name="sumDuration" type="xsd:long" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="statusDetails" type="ns:StatusDetails"/>
    <xsd:complexType name="StatusDetails">
        <xsd:all>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="trace" type="xsd:string"/>
            <xsd:element name="flaky" type="xsd:boolean"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="step" type="ns:Step"/>
    <xsd:complexType name="Step">
        <xsd:all>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="time" type="ns:Time"/>
            <xsd:element name="status" type="ns:Status"/>
            <xsd:element name="statusDetails" type="ns:StatusDetails" minOccurs="0"/>
            <xsd:element name="steps" type="ns:Steps" minOccurs="0"/>
            <xsd:element name="attachments" type="ns:Attachments" minOccurs="0"/>
            <xsd:element name="parameters" type="ns:Parameters" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="attachment" type="ns:Attachment"/>
    <xsd:complexType name="Attachment">
        <xsd:all>
            <xsd:element name="uid" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="size" type="xsd:long" nillable="true"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="parameter" type="ns:Parameter"/>
    <xsd:complexType name="Parameter">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:element name="environmentItem" type="ns:EnvironmentItem"/>
    <xsd:complexType name="EnvironmentItem">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- Other entity -->
    <xsd:element name="statistic" type="ns:Statistic"/>
    <xsd:complexType name="Statistic">
        <xsd:attribute name="failed" type="xsd:long" use="required"/>
        <xsd:attribute name="broken" type="xsd:long" use="required"/>
        <xsd:attribute name="skipped" type="xsd:long" use="required"/>
        <xsd:attribute name="passed" type="xsd:long" use="required"/>
        <xsd:attribute name="unknown" type="xsd:long" use="required"/>
    </xsd:complexType>

    <xsd:element name="attachment-file" type="ns:AttachmentFile"/>
    <xsd:complexType name="AttachmentFile">
        <xsd:attribute name="uid" type="xsd:string" use="required"/>
        <xsd:attribute name="source" type="xsd:string" use="required"/>
        <xsd:attribute name="size" type="xsd:long" use="required"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="label" type="ns:Label"/>
    <xsd:complexType name="Label">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="failed"/>
            <xsd:enumeration value="broken"/>
            <xsd:enumeration value="passed"/>
            <xsd:enumeration value="skipped"/>
            <xsd:enumeration value="unknown"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SeverityLevel">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="blocker"/>
            <xsd:enumeration value="critical"/>
            <xsd:enumeration value="normal"/>
            <xsd:enumeration value="minor"/>
            <xsd:enumeration value="trivial"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Reserved label names -->
    <xsd:simpleType name="LabelName">
        <xsd:restriction base="xsd:string">
            <!-- Test -->
            <xsd:enumeration value="owner"/>
            <xsd:enumeration value="severity"/>
            <xsd:enumeration value="issue"/>
            <xsd:enumeration value="testId"/>

            <!-- Suite -->
            <xsd:enumeration value="parentSuite"/>
            <xsd:enumeration value="suite"/>

            <!-- Packages -->
            <xsd:enumeration value="package"/>

            <!-- BDD -->
            <xsd:enumeration value="feature"/>
            <xsd:enumeration value="story"/>

            <!-- Java -->
            <xsd:enumeration value="testClass"/>
            <xsd:enumeration value="testMethod"/>

            <!-- Info  -->
            <xsd:enumeration value="host"/>
            <xsd:enumeration value="thread"/>
            <xsd:enumeration value="language"/>
            <xsd:enumeration value="framework"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Wrappers, not actually a classes -->

    <xsd:complexType name="BeforeStagesResults">
        <xsd:sequence>
            <xsd:element name="beforeStageResult" type="ns:StageResult" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AfterStagesResults">
        <xsd:sequence>
            <xsd:element name="afterStageResult" type="ns:StageResult" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Steps">
        <xsd:sequence>
            <xsd:element name="step" type="ns:Step" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Attachments">
        <xsd:sequence>
            <xsd:element name="attachment" type="ns:Attachment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Labels">
        <xsd:sequence>
            <xsd:element name="label" type="ns:Label" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Parameters">
        <xsd:sequence>
            <xsd:element name="parameter" type="ns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Environment">
        <xsd:sequence>
            <xsd:element name="environmentItem" type="ns:EnvironmentItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Links">
        <xsd:sequence>
            <xsd:element name="link" type="ns:Link" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExtraElements"/>
</xsd:schema>
