allure-plugin-api/src/main/resources/xsd/allure_plugins.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ns="urn:allure.qameta.io"
            targetNamespace="urn:allure.qameta.io">

    <xsd:element name="pluginDescriptor" type="ns:PluginDescriptor"/>
    <xsd:complexType name="PluginDescriptor">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="moduleClass" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
